<% provide(:title, t("home.home")) %>
 <div class="center jumbotron">
   <h1>トライアルアプリケーション</h1>

  <h1><%= t "home.ruby_on_rails_trail_app" %></h1>
  <h2>
    <%= t "home.this_is_the_home_page" %>
    <a href="https://www.railstutorial.org/"><%= t "home.ruby_on_rails_tutorial" %></a>
    <%= t "home.sample_application" %>
  </h2>
  <%= link_to t("home.signup"), signup_path, class: "btn btn-lg btn-primary" %>
 
 </div>
 <img alt=t("home.rails_logo") src="/assets/rails.png" />

