<div class="row">
  <div class="col-lg-8">
    <h1 style="text-align: left"><%= @micropost.title %></h1>
    <p class="lead">
      <%= t "micropost.by" %><%= link_to @micropost.user.name, @micropost.user %>
    </p>
    <hr>
    <p>
      <span class="glyphicon glyphicon-time"></span>
      <%= t "micropost.posted" %>
      <%= time_ago_in_words(@micropost.created_at) %>
      <%= t "micropost.ago" %>
    </p>
    <hr>
    <span class="content">
      <p class="lead"><%= @micropost.content %></p>
      <%= image_tag @micropost.picture.url if @micropost.picture? %>
    </span>
    <hr>
    <span class="like">
      <%= render "likes/like_form", micropost: @micropost %>
    </span>
    <div class="well" id="well">
      <h4><%= t "micropost.leave_comment" %></h4>
      <%= form_for @comment, :url => micropost_comments_path(@micropost) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.text_area :content, placeholder: t("micropost.compose_new_comment"), class: "form-control" %>
        <%= f.submit t("micropost.submit"), class: "btn btn-primary" %>
      <% end %>
    </div>
    <hr>
    <% @comments.each do |comment| %>
      <div class="media">
        <%= link_to gravatar_for(comment.user, size: 30), comment.user, class: "pull-left" %>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to comment.user.name, comment.user %>
            <small><%= comment.created_at %></small>
          </h4>
          <%= comment.content %>
          <% if current_user.current_user?(comment.user) %>
            <%= link_to edit_micropost_comment_path(micropost, comment), remote: true do %>
              <i class="fa fa-pencil-square-o"></i>
              edit
            <% end %>
            <%= link_to micropost_comment_path(micropost, comment), method: :delete, remote: true do %>
              <i class="fa fa-trash-o"></i>
              delete
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
